[Unit]
Description=chientrm com
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/home/linuxuser/com
ExecStart=/bin/bash -c "source /home/linuxuser/.bashrc && nvm use default && node server.js"
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
